@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Lato', sans-serif !important;
}

.ant-btn-icon {
    display: flex;
    align-items: center;
}

@layer base {
    .link:hover {
        color: #5fa8d3;
        /* background-color: #cae9ff; */
        /* font-size: large; */
        font-weight: bold;
    }
}
